@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin contentPaddingInline() {
  padding-inline: $mobile-padding-inline;

  @include onTablet {
    padding-inline: $tablet-padding-inline;
  }

  @include onDesktop() {
    max-width: 63.75rem;
    margin-inline: auto;
    padding-inline: $desktop-padding-inline;
  }
}

.container {
  @include contentPaddingInline;
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin pageGrid {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 1.25rem;

  @include onTablet {
    --columns: 6;

    column-gap: 1.5rem;
  }

  @include onDesktop {
    --columns: 12;
  }
}
